<div class="container n-navbar">
    <div class="n-row">
        <div class="n-col">
            <a href="/" class="n-logo"><img
             src="static/images/logo.png" alt="" class="n-logo"/></a>
        </div>
        <div class="n-col">
            <a href="/regis" class="btn btn-outline-dark">Sign Up</a>
            <a href="/login" class="btn btn-outline-dark">Login</a>
        </div>
    </div>
</div>