<div class="container n-navbar">
    <div class="n-row">
        <div class="n-col">
            {{!-- <a href="/" class="n-logo">LOGO</a> --}}
            <img src="../static/images/logo.png" alt="" class="n-logo"/>
        </div>
        <div class="n-col">
            <a href="/menu" class="btn btn-outline-dark">Menu</a>
            <a href="/cart" class="btn btn-outline-dark">Cart</a>
            <a href="/profile" class="btn btn-outline-dark">Profile</a>
            <a href="/logout" class="btn btn-outline-dark">Logout</a>
        </div>
    </div>
</div>