    <div class="container">
        <h1 class="textx-center">welcome {{name}}</h1>
        </div>
        <div class="card container">
            <div class="card-body">
                <p class="card-text">Your account has been successfully Activated
                </p>
                <a href="/login" class="btn btn-primary">Login </a>
            </div>
        </div>
