{{> header}}
<div class="container home">
   <div>
   <h1>Pizza Delivery</h1>
   <p> Welcome to pizza delivery service.This is the place when you may chose the most delicious pizza you like from wide variety of options!</p>
   <hr>
   </div>
   <div>
      <p>We're performing delivery free of charge in case if your order is higher than ₹ 300</p>
      <a class="btn btn-dark btn-lg a-lg" href="/login">Sign In and Order</a>
   </div>
</div>