{{> header2}}
  <div class="container" style="font-size:larger ;">
          <h2>Pizza</h2>
          <hr>
                <div class="text-center">
                    <img src="{{data.image}}" class="img-fluid rounded-3" style="width:50%" alt="Pizza">
             
                   <h3 class="mb-2">{{data.name}}</h3>
               
                  <h3 class="mb-2">{{data.price}}</h3>
              </div>
    </div>